@font-face {
    font-family: "PP Editorial New";
    src:
      local("PP Editorial New"),
      url("PPEditorialNew-Regular.otf") format("opentype");
}


body {
    margin: 0;
    padding: 0;
    background-color: #FFF8EB;
    font-family: 'PP Editorial New', serif;
    color: #EE3333;
    text-transform: uppercase;
    letter-spacing: .2px;
    width: 100vw;
    overflow-x: hidden;
}

button{
    font-family: 'PP Editorial New', serif;
    background-color: transparent; 
    border: 1px dotted #FFF8EB;
    color: #FFF8EB;
    padding: 8px;
    font-size: 20px;
    margin-top: 6px;

}

button:hover{
    background-color: #FFF8EB;
    color: #EE3333;
    cursor: pointer;
}

input {
    background-color: transparent; 
    border: 1px dotted #FFF8EB;
    margin-top: 11px;
    margin-bottom: 16px;
    height: 28px;
    text-transform: uppercase;
    font-family: 'PP Editorial New', serif;
    text-align: center;
    color: #FFF8EB;
    font-size: 15px;
}

select {
    background-color: transparent; 
    color: #FFF8EB;
    cursor: pointer;
    border: 1px dotted #FFF8EB;
    font-family: 'PP Editorial New', serif;
    padding: 8px;
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 15px;
}

.intro{
    position: absolute;
    text-align: center;
    top: 30px;
    margin-left: 35px;
    width: 320px;
    z-index: 100;
}

#menu {
    line-height: 20px;
    /* height: 530px; */
    position: absolute;
    border-radius: 5px;
    padding-top: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

#user-data{
    padding-top: 35px;
    border: 1px dotted #EE3333;
    border-radius: 3px;
    background-color: #EE3333;
    color: #FFF8EB;
    padding-bottom: 40px;
    transition: 1s;
    overflow: hidden;
    height: 580px;   
}

#add{
    margin-top: 15px;
}

#info {
    display: flex;
    position: absolute;
    border-radius: 5px;
    width: 320px;
    box-sizing: border-box;
    padding: 5px 30px 5px 30px;
    margin: 0 auto;
    top: 30px;
    right: 35px;
    border: 1px dotted #EE3333;
    background-color: #FFF8EB;
    color: #EE3333;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    font-size: 15px;
    transition: .25s;
    /* animation: blink 50s linear 20s infinite alternate; */
}

#logo{
    position:relative;
    margin-right: 20px;
}

#logo{
    width: 38px;
    height: auto;
}

#logo .st0{fill: #EE3333;}

#title {
    border-radius: 2px;
    width: 320px;
    margin: 0;
    padding: 0; 
    border: 1px dotted #EE3333;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 13px;
    align-items: center;
}

.intro, #data-input{
    transition: .25s;
}

#i{
    border: none;
    font-size: 12px;
    /* height: 19px;
    width: 19px; */
    margin: 0;
    padding: 0;
}

#i:hover{
    cursor: pointer;
    border-radius: 100%;
    background: none;
    color: #EBE6DF;
}

#about{
    font-size: 10.5px;
    width: 50%;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    position: absolute;
    left: 300px;
    top: 480px;
    padding: 0px 8px 0px 8px;
    color:#EE3333;
    background: #EBE6DF;
    border-radius: 6px;
    display: none;
    pointer-events: none;
}

.show{
    display: block!important;

}

#link{
    position: absolute;
    text-transform: none;
    /* width: 320px; */
    box-sizing: border-box;
    /* padding: 5px 30px 5px 30px; */
    margin: 0 auto;
    top: 683px;
    right: 35px;
    color: #EE3333;
    text-align: center!important;
    vertical-align: center;
    justify-content: center;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #EE3333;
}

canvas {
    width: 600px;
    height: 700px;
    display: flex;
    position: absolute;
    top:-20px;
    margin: 0 auto;
    justify-content: center;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

#p5-container {
    width: 640px;
    height: 740px;
    border: 1px dotted #EE3333;
    background-color: #FFF8EB;
    position: absolute;
    top:27px;
    left:402px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* z-index: 100; */
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


@media only screen and (max-height: 800px){
    body{
        transform: scale(.91);
        margin-top: 0px;
    }

    .intro{
        left: -60px;
    }

    #info{
        right: -30px;
    }

    #link{
        right: -30px;
    }
}

@media only screen and (max-width: 1400px){
    body{
        transform: scale(.9);
    }
}

@media only screen and (max-width: 1350px){
    body{
        transform: scale(.88);
        margin-top: 0px;
    }
}

@media only screen and (max-width: 800px){
    body{
        transform: scale(.57);
        margin: 0 auto;
        margin-top: -150px;
        width: 100vw;
    }
    
    #link, #info, .intro, canvas, .box, #p5-container{
        position: relative;
    }
    
    .intro{
        transform: scale(1.65);
        margin: 0 auto;
        left:0;
        right: 0;
        top:0;
    }

    #title{
    }

    .box {
        width: 100%;
        top: 0px;
    }

    #p5-container{
        display: flex;
        left:0;
        right:0;
        margin: 0 auto;
        justify-content: center;
        top: 1050px;
    }

    #link, #info{
        display:flex;
        margin:0 auto;
        left:0;
        right:0;
        transform: scale(1.7);
    }

    canvas{
        top:-30px;
    }
    #info{
        top: 740px;
    }

    #link{
        top: 1700px;
        margin-bottom: 900px;
    }

    .box{
        top: 600px;
    }
    
}


