@font-face {
    font-family: "PP Editorial New";
    src:
      local("PP Editorial New"),
      url("PPEditorialNew-Regular.otf") format("opentype")
  }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: #FAF7F3;
    font-family: 'PP Editorial New', serif;
    color: #EE3333;
    text-transform: uppercase;
    letter-spacing: .2px;
}
.box {
    width: 640px;
    height: 740px;
    border: 1px dotted #EE3333;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

button{
    font-family: 'PP Editorial New', serif;
    background-color: transparent; 
    border: 1px dotted #EE3333;
    color: #EE3333;
    padding: 4%;
    font-size: 1.8vh;
    margin-top: 1vh;

}

button:hover{
    background-color: #EE3333;
    color: #FAF7F3;
    cursor: pointer;
}

input {
    background-color: transparent; 
    border: 1px dotted #EE3333;
    text-transform: uppercase;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 25px;
	height: 25px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

select {
    background-color: transparent; 
    color: #EE3333;
    cursor: pointer;
    border: 1px dotted #EE3333;
}

#age{
    width: 40px;
}

#menu {
    width: 16vw;
    height: 45.75vh;
    position: absolute;
    border-radius: 5px;
    left: 4%;
    top: 50%; /* position at 50% from the top */
    transform: translateY(-50%); /* move it up by half of its own height */
    padding-bottom: 1%;
    border: 1px dotted #EE3333;
    margin: 1%;
    background-color: #EBE6DF;
    text-align: center; /* center align content */
}

#title {
    border-radius: 5px;
    margin: 0;
    padding: 0; /* remove padding */
    background-color: #EE3333;
    color: #FAF7F3;
    width: 100%;
    font-size: 2.5vh;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2vh;
    /* font-style: italic; */
    /* padding: 1%; */
}

#info {
    width: 8vw;
    height: 11vh;
    position: absolute;
    border-radius: 5px;
    right: 7%;
    top: 50%; /* position at 50% from the top */
    transform: translateY(-50%); /* move it up by half of its own height */
    padding: 1%;
    padding-top: 1.22%;
    border: 1px dotted #FAF7F3;
    color: #FAF7F3;
    margin:1%;
    text-align: center;
    /* border: 1px dotted #EE3333; */
    /* background-color: #EBE6DF; */
}

p{
    line-height: .6;
}

.symbolsize{
    font-size: 5vh;
    font-weight: bold;
    margin-top: -.15vh;
    margin-bottom: -.2vh;
}

#p5-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
}

canvas {
    display: block;
}

