@font-face {
    font-family: "PP Editorial New";
    src:
      local("PP Editorial New"),
      url("PPEditorialNew-Regular.otf") format("opentype")
  }

body {
    margin: 0;
    padding: 0;
    background-color: #FFF8EB;
    font-family: 'PP Editorial New', serif;
    color: #EE3333;
    text-transform: uppercase;
    letter-spacing: .2px;
}

button{
    font-family: 'PP Editorial New', serif;
    background-color: transparent; 
    border: 1px dotted #FFF8EB;
    color: #FFF8EB;
    padding: 8px;
    font-size: 20px;
    margin-top: 6px;

}

button:hover{
    background-color: #FFF8EB;
    color: #EE3333;
    cursor: pointer;
}

input {
    background-color: transparent; 
    border: 1px dotted #FFF8EB;
    margin-top: 11px;
    margin-bottom: 16px;
    height: 28px;
    text-transform: uppercase;
    font-family: 'PP Editorial New', serif;
    text-align: center;
    color: #FFF8EB;
    font-size: 15px;
}

select {
    background-color: transparent; 
    color: #FFF8EB;
    cursor: pointer;
    border: 1px dotted #FFF8EB;
    font-family: 'PP Editorial New', serif;
    padding: 8px;
    margin-top: 11px;
    margin-bottom: 20px;
    font-size: 15px;
}

.intro{
    position: absolute;
    text-align: center;
    top: 30px;
    margin-left: 35px;
}

#menu {
    width: 320px;
    line-height: 20px;
    /* height: 530px; */
    position: relative;
    border-radius: 5px;
    padding-top: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    z-index: 10;
}

#user-data{
    padding-top: 35px;
    border: 1px dotted #EE3333;
    border-radius: 3px;
    background-color: #EE3333;
    color: #FFF8EB;
    padding-bottom: 40px;
    transition: 1s;
    overflow: hidden;
    height: 580px;   
}

#add{
    margin-top: 15px;
}

#info {
    display: flex;
    position: absolute;
    border-radius: 5px;
    width: 320px;
    box-sizing: border-box;
    padding: 5px 30px 5px 30px;
    margin: 0 auto;
    top: 30px;
    right: 35px;
    border: 1px dotted #EE3333;
    background-color: #FFF8EB;
    color: #EE3333;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    font-size: 15px;
    transition: .25s;
    /* animation: blink 50s linear 20s infinite alternate; */
}

#logo{
    position:relative;
    margin-right: 20px;
}

#logo{
    width: 38px;
    height: auto;
}

#logo .st0{fill: #EE3333;}

#title {
    border-radius: 2px;
    width: 318px;
    margin: 0;
    padding: 0; 
    /* background-color: #FFF8EB; */
    /* background-color: #EE3333; */
    /* color: #FFF8EB; */
    border: 1px dotted #EE3333;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 13px;
    align-items: center;
}

.intro, #data-input{
    transition: .25s;
}

#i{
    border: none;
    font-size: 12px;
    /* height: 19px;
    width: 19px; */
    margin: 0;
    padding: 0;
}

#i:hover{
    cursor: pointer;
    border-radius: 100%;
    background: none;
    color: #EBE6DF;
}

#about{
    font-size: 10.5px;
    width: 50%;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    position: absolute;
    left: 300px;
    top: 480px;
    padding: 0px 8px 0px 8px;
    color:#EE3333;
    background: #EBE6DF;
    border-radius: 6px;
    display: none;
    pointer-events: none;
}

.show{
    display: block!important;

}

#p5-container {
    width: 600px;
    height: 700px;
    display: block;
    position: absolute;
    /* top:50px;
    left:422px; */
}

.box {
    width: 640px;
    height: 740px;
    border: 1px dotted #EE3333;
    background-color: #FFF8EB;
    position: absolute;
    top:27px;
    left:402px;
    border-radius: 5px;
    display: block;
    /* z-index: 100; */
}

#link{
    position: relative;
    text-transform: none;
    /* width: 320px; */
    box-sizing: border-box;
    /* padding: 5px 30px 5px 30px; */
    margin: 0 auto;
    top: 680px;
    right: -590px;
    color: #EE3333;
    text-align: center!important;
    vertical-align: center;
    justify-content: center;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #EE3333;
}

canvas {
    width: 600px;
    height: 700px;
    display: block;
    position: absolute;
    top:-20px;
    /* left:422px; */
}


@keyframes blink {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


/* @media only screen and (max-height: 800px){
    canvas, .box{
        transform: scale(.9);
    }
    canvas, .box, #menu, #info, #logo{
        margin-top: -5vh;
    }
}

@media only screen and (max-width: 1200px){
    canvas, .box, .intro{
        transform: scale(.8);
    }
    canvas, .box {
        transform: translate(-100px, 0) scale(0.8);
    }
    #info{
        left: 900px;
        transform: scale(.8);
    }
    .intro{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    canvas, .box, #menu, #info, #logo{
        margin-top: -12vh;
    }
}

@media only screen and (max-width: 800px){
    canvas, .box, .intro{
        transform: scale(.8);
    }

    canvas, .box {
        transform: translate(-100px, 0) scale(0.8);
    }
    #info{
        left: 880px;
        transform: scale(.8);
    }
    .intro{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    canvas, .box, #menu, #info, #logo{
        margin-top: -2vh!important;
    }
} */


